includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - core/

services:
    -
        class: Core\PHPStan\Rules\StatelessRule
        tags: [phpstan.rules.rule]